html{
    background:url() no-repeat center center fixed; 
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    font-family:'Shadows Into Light Two', cursive;
    font-size:180%
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    width:53%;

}

li {
    float: left;
}

li a {
    display: compact;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:red;
}

h3{
    color:red;
}

html, body, .container{
    height:80%; 
    min-heighthydroponics
    text-align:center;
}

#div{ 
    margin-top:50px; 
    margin-bottom:65px; 
    margin-right:200px; 
    margin-left:15%; 
    padding:9px 35px;
} 

table tr, td{
    font-size:24px;
    color:black;
}

#button{ 
    border-radius:10px; 
    width:100px; 
    height:40px; 
    background:red;
    color:white;
    font-weight:bold; 
    font-size:20px; 
}

footer{
    position:fixed; 
    bottom:0;
    left:0;
    right:0;
    height:50px;
    font-size:5;
    color:black;
}
